<div style="overflow: hidden;">
  <div class="message {{'msg-' + MessageType[messageType]}} {{message.marker}}">
    <p>
      <b> {{ messageType == MessageType.IN ? fromFull : (messageType == MessageType.OUT ? 'Я' : message.jid) }}</b>
      {{ message.time | amCalendar }}
      <span [hidden]="messageType == MessageType.SERVICE">
        <span class="fa-lg check-success">
          <i class="fa fa-check" style="margin-left:4px"></i>
          </span>
        <span class="fa-stack fa-lg double-check-success">
          <i class="fa fa-check fa-stack-1x" style="margin-left:4px"></i>
          <i class="fa fa-check  fa-stack-1x" style="margin-left:-4px"></i>
        </span>
      </span>
    </p>
    <div [ngSwitch]="habarshiMessageType">
      <div *ngSwitchCase="HabarshiMessage.FILE">
        <ng-template [ngIf]="habarshiFile.type.startsWith('video/webm')">
          <div class="audio">
            <audio [src]="habarshiFile.full_url" controls></audio>
          </div>
        </ng-template>
        <ng-template [ngIf]="habarshiFile.type.startsWith('image')">
          <div class="image">
            <a [href]="habarshiFile.full_url" target="_blank"><img [src]="habarshiFile.preview_url"/></a>
          </div>
        </ng-template>
        <ng-template [ngIf]="!habarshiFile.type.startsWith('video/webm') && !habarshiFile.type.startsWith('image')">
          <div class="doc">
            <a [href]="habarshiFile.full_url" target="_blank">{{habarshiFile.file_name}}</a>
          </div>
        </ng-template>
      </div>
      <div *ngSwitchCase="HabarshiMessage.ROBOT">
        <div>Пользователь {{fromFull}} {{ habarshiRobot.action == 'bye' ? 'покинул(а)' :
          (habarshiRobot.action == 'create' ? 'создал' : 'вошел(а) в') }} комнату
        </div>
      </div>
      <div *ngSwitchDefault>
        <div [innerHTML]="message.text"></div>
      </div>
    </div>
  </div>
</div>
