.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

/* message types */
.msg-IN {
  max-width: 70vh;
  background: rgba(255, 0, 0, 0.4);
}

.msg-OUT {
  max-width: 90vh;
  background: rgba(200, 200, 200, 0.4);
  float: right;
  text-align: right;
}

.msg-SERVICE {
  text-align: center;
  font-size: small;
  font-style: italic;
}

/* statuses */
.check-success, .received.acknowledged .check-success {
  display: none;
}

.double-check-success {
  display: none;
}

.acknowledged .double-check-success {
  display: inline-block;
}

.received .check-success {
  display: inline-block;
}
