<div style="overflow: hidden;" data-id="{{message.id}}">
  <div [ngClass]="{'in-msg': messageType == MessageType.IN,
  'out-msg': messageType == MessageType.OUT,
   'srv-msg': messageType == MessageType.SERVICE}" class="message {{message.marker}}">
    <p><b> {{ messageType == MessageType.IN ? fromFull : (messageType == MessageType.OUT ? 'Я' : message.jid) }}</b>
      {{ message.time | date: dateFormat}}
      <span class="fa-lg check-success">
        <i class="fa fa-check" style="margin-left:4px"></i>
        </span>
      <span class="fa-stack fa-lg double-check-success">
        <i class="fa fa-check fa-stack-1x" style="margin-left:4px"></i>
        <i class="fa fa-check  fa-stack-1x" style="margin-left:-4px"></i>
      </span>
    </p>
    <div [innerHTML]="message.text"></div>
  </div>
</div>
