<header>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">HABARSHI</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-end col-md-12">
        <div *ngIf="!isLoggedIn(); else greetUser" class="input-group auth-form">
          <input #username type="text" name="name" class="form-control" title="Логин"
                 required="required" placeholder="Логин">
          <input #passwd type="text" name="passwd" class="form-control" title="Пароль"
                 required="required" placeholder="Пароль">
          <span class="input-group-btn">
            <button (click)="auth(username, passwd)" type="submit" class="btn btn-default pull-right">Войти</button>
          </span>
        </div>
        <ng-template #greetUser>
          <div>
            <button (click)="logout()">Выйти</button>
          </div>
        </ng-template>
        {{errorMessage}}
      </div>
    </div>
  </nav>
</header>
