<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div id="messages" class="form-control" title="Сообщения"></div>
      <div class="input-group">
        <input id="messageInput" type="text" class="form-control" placeholder="Введите ваше сообщение">
        <span class="input-group-addon" >
                    <button id="toggleRecordAudio" class="btn btn-default"><i class="fa fa-microphone"></i></button>
                </span>
      </div>
    </div>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">@</div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
    </div>
  </div>
</div>
